[submodule "proxmark3"]
	path = proxmark3
	url = https://github.com/bm2gii/proxmark3.git
[submodule "termcap"]
	path = termcap
	url = https://github.com/bm2gii/termcap.git
[submodule "readline"]
	path = readline
	url = https://github.com/bm2gii/readline.git
